body {
    font-family: Arial, sans-serif;
    background-color: #f0f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    color:#00573f;
    margin-top: 2rem;
    font-size: 1.8rem;
}

form {
    background-color: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

form input, form select, form textarea {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
}

form input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

form button {
    background-color: #00573f;
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 5px;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #003e2d;
}

@media (max-width: 600px) {
    form {
        padding: 1.5rem;
    }
}