* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,
html {
    height: 100%;
    font-family: 'Segoe UI', sans-serif;
}

.container {
    display: flex;
    height: 100vh;
}

.left {
    flex: 1;
    background-color: #f0f0f0;
}

.left img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.right {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 40px;
    background-color: #ffffff;
}

.right h1 {
    color: #004B85;
    /* Azul UV */
    margin-bottom: 10px;
}

.right h2 {
    color: #333;
    margin-bottom: 30px;
}

form {
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
}

form input {
    margin-bottom: 15px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 16px;
}

form button {
    padding: 12px;
    background-color: #004B85;
    color: #fff;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

form button:hover {
    background-color: #005f9e;
}

#solicitarEspacio {
    font-size: 30px;
    text-decoration: none;
}

.footer-links {
    margin-top: 20px;
    font-size: 14px;
}

.footer-links a {
    display: block;
    text-align: center;
    color: #004B85;
    text-decoration: none;
    margin: 5px 0;
}

.footer-links a:hover {
    text-decoration: underline;
}